<!-- footer -->
<footer class="l-footer" role="contentinfo">
    <div class="l-footer__sub">
        <div class="l-footer__inner l-container">
            <p class="l-footer__copyright">Copyright&copy;</p>
        </div><!-- /footer__inner -->
    </div><!-- /footer-sub -->
</footer><!-- /footer -->
<!-- End footer -->
