<!-- header -->
<header class="l-header" role="banner">
    <div class="l-header__contents">
        <div class="l-container">
            <p class="l-header__logo"><a href="/">サンプル</a></p>
        </div>
    </div>
</header>
<!-- End header -->