<meta charset="utf-8">
<title><%= sample.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="referrer" content="unsafe-url">
<meta name="robots" content="noindex, nofollow">
<meta name="robots" content="noarchive">
<!-- css -->
<link rel="stylesheet" href="<%= set.path %>assets/css/index.css" media="all">
<!-- End css -->